@model IEnumerable<Brand>

<h2>Table Brands</h2>
<div class="d-flex justify-content-end">
    <a asp-action="Create" type="button" class="btn btn-success ">Create new brand</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Brand name</th>
            <th scope="col">Country</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
            foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td>@item.Id</td>
                    <td>@item.NameBrand</td>
                    <td>@item.ProducingCountry</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-secondary">Update</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>