@model IEnumerable<Equipment>

<h2>Table Equipments</h2>
<div class="d-flex justify-content-end">
    <a asp-action="Create" type="button" class="btn btn-success ">Create new equipment</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Name equipment</th>
            <th scope="col">Driver type</th>
            <th scope="col">Engine capacity</th>
            <th scope="col">Fuel type</th>
            <th scope="col">Model year</th>
            <th scope="col">Price equipment</th>
            <th scope="col">ModelId</th>
            <th scope="col">Action</th>
        </tr>
    </thead>
    <tbody>
        @{
            int i = 1;
            foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@i</th>
                    <td>@item.Id</td>
                    <td>@item.NameEquipment</td>
                    <td>@item.DriverType</td>
                    <td>@item.EngineCapacity</td>
                    <td>@item.FuelType</td>
                    <td>@item.ModelYear</td>
                    <td>@item.PriceEquipment</td>
                    <td>@item.ModelId</td>
                    <td>
                        <div class="btn-group" role="group">
                            <a asp-action="Update" asp-route-id="@item.Id" class="btn btn-secondary">Update</a>
                            <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                        </div>
                    </td>
                </tr>
                i++;
            }
        }
    </tbody>
</table>